.left-side {
  /* width: 49%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  box-sizing: border-box;
}

.create-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* .image {
  width: 49%;
} */

.img-hanger {
  object-fit: cover;
  width: 720px;
  height: 978px;
}

.how-to {
  font-weight: bold;
  font-size: 60px;
  position: absolute;
  width: 596px;
  height: 75px;
  left: 782px;
  top: 151px;
  color: #79C473;
}